## castデータベースを作成します

In [1]:
import pandas as pd
import numpy as np

credits_url = "./data/credits.csv"

In [2]:
## データフレーム中のstringをキャスト(dict型)のリストに変換する
def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

#### credits.csvの読み込み＆型変換

In [3]:
credits_df = pd.read_csv(credits_url)

print(type(credits_df.cast[0]), "　　　　castについて、str型をlist型に・・・")
credits_df.cast = credits_df.cast.map(make_list_from_str)
print(type(credits_df.cast[0]), "　　　　cast完了\n")

print(type(credits_df.crew[0]), "　　　　crewについて、str型をlist型に・・・")
credits_df.crew = credits_df.crew.map(make_list_from_str)
print(type(credits_df.crew[0]), "　　　　crew完了\n")

credits_df = credits_df.dropna()
credits_df.head()

<class 'str'> 　　　　castについて、str型をlist型に・・・
<class 'list'> 　　　　cast完了

<class 'str'> 　　　　crewについて、str型をlist型に・・・
<class 'list'> 　　　　crew完了

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

#### cast列について

In [5]:
#cast列をリストに

movies_cast_list = credits_df["cast"].tolist()

#castのidとnameを取り出し、重複するものはcountしておく

castid_list = []
castname_list = []
castcount_dict = {}

movie_count = 0

for movie_cast in movies_cast_list:
    for cast in movie_cast:
        if cast["id"] not in castid_list:
            castid_list.append(cast["id"])
            castname_list.append(cast["name"])
            castcount_dict[cast["id"]] = 1
        else:
            castcount_dict[cast["id"]] += 1
    
    movie_count += 1
    if movie_count % 2000 == 0:
        print(movie_count, "movies out of ", len(movies_cast_list), " finished.")

print("finished.")
        
castcount_list = list(castcount_dict.values())

2000 movies out of  45476  finished.
4000 movies out of  45476  finished.
6000 movies out of  45476  finished.
8000 movies out of  45476  finished.
10000 movies out of  45476  finished.
12000 movies out of  45476  finished.
14000 movies out of  45476  finished.
16000 movies out of  45476  finished.
18000 movies out of  45476  finished.
20000 movies out of  45476  finished.
22000 movies out of  45476  finished.
24000 movies out of  45476  finished.
26000 movies out of  45476  finished.
28000 movies out of  45476  finished.
30000 movies out of  45476  finished.
32000 movies out of  45476  finished.
34000 movies out of  45476  finished.
36000 movies out of  45476  finished.
38000 movies out of  45476  finished.
40000 movies out of  45476  finished.
42000 movies out of  45476  finished.
44000 movies out of  45476  finished.
finished.

In [7]:
castcount_list = list(castcount_dict.values())

In [8]:
print("[id]")
print(castid_list[0:10], "\n")
print("[name]")
print(castname_list[0:10], "\n")
print("[count]")
print(castcount_list[0:10])

[id]
[31, 12898, 7167, 12899, 12900, 7907, 8873, 1116442, 12901, 12133]

[name]
['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris', 'Erik von Detten', 'Laurie Metcalf']

[count]
[72, 29, 29, 20, 75, 46, 15, 3, 11, 25]

In [9]:
##データフレームの生成

actors_dict = {"id" : castid_list, "name" : castname_list, "appearance" : castcount_list}
actors_df = pd.DataFrame.from_dict(actors_dict)
actors_df.head()

   appearance     id           name
0          72     31      Tom Hanks
1          29  12898      Tim Allen
2          29   7167    Don Rickles
3          20  12899     Jim Varney
4          75  12900  Wallace Shawn

In [10]:
actors_df = actors_df.ix[:,['name','id','appearance']]

/Users/labuser/.pyenv/versions/anaconda3-4.4.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [12]:
actors_df.head()

            name     id  appearance
0      Tom Hanks     31          72
1      Tim Allen  12898          29
2    Don Rickles   7167          29
3     Jim Varney  12899          20
4  Wallace Shawn  12900          75

In [ ]:
##csv書き出し
actors_df.to_csv("actors.csv")

おまけ

#### crew(directorなど)について

In [ ]:
crew_list = credits_df["crew"].tolist()
crewjob_list = []
crewjob_dict = {}
directorid_list = []
directorname_list = []
directorid_dict = {}

movie_count = 0
for movie in crew_list:
    for crew in movie:
        if crew["job"] not in crewjob_list:
            crewjob_list.append(crew["job"])
            crewjob_dict[crew["job"]] = 1
        else:
            crewjob_dict[crew["job"]] += 1
        
        if crew["job"] == "Director":
            if crew["id"] not in directorid_list:
                directorid_list.append(crew["id"])
                directorname_list.append(crew["name"])
                directorid_dict[crew["id"]] = 1
                if movie_count == 0:
                    print(crew["id"], ": ", crew["name"])
            else:
                directorid_dict[crew["id"]] += 1
 
    movie_count += 1
    if movie_count % 1000 == 0:
        print(movie_count, "movies out of ", len(crew_list), " finished.")