In [2]:
import re
import pandas as pd
import numpy as np
import pickle

credits_url = "./data/credits.csv"
keywords_url = "./data/keywords.csv"
links_url = "./data/links.csv"
links_small_url = "./data/links_small.csv"
metadata_url = "./data/movies_metadata.csv"
ratings_url = "./data/ratings_small.csv"

In [3]:
def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

In [4]:
def make_collecton_from_str(string):
    if isinstance(string, str):
        result_dict = eval(string)
        if type(result_dict) == dict:
            result = result_dict['name']
            return result
    result = "no collection"
    return result

In [5]:
def make_bool_from_str(string):
    if string == "True":
        result = True
    elif string == "False":
        result = False
    else:
        result = np.nan
    return result

# credits.csv、整形データ

データ数：　45476

- cast: キャストのデータ（dict型）のリスト
- crew: 役職者について
- id: movie_metadataのidに対応

In [6]:
credits_df = pd.read_csv(credits_url)

print(type(credits_df.cast[0]), "　　　　castについて、str型をlist型に・・・")
credits_df.cast = credits_df.cast.map(make_list_from_str)
print(type(credits_df.cast[0]), "　　　　cast完了\n")

print(type(credits_df.crew[0]), "　　　　crewについて、str型をlist型に・・・")
credits_df.crew = credits_df.crew.map(make_list_from_str)
print(type(credits_df.crew[0]), "　　　　crew完了\n")

credits_df = credits_df.dropna()
credits_df.info()

<class 'str'> 　　　　castについて、str型をlist型に・・・
<class 'list'> 　　　　cast完了

<class 'str'> 　　　　crewについて、str型をlist型に・・・
<class 'list'> 　　　　crew完了

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [7]:
with open('credits.pickle', 'wb') as f:
    pickle.dump(credits_df, f)

# keywords.csv、整形データ

データ数：　46419

- id: movie_metadataのidに対応
- keywords: 映画を説明するキーワードのリスト

In [8]:
keywords_df = pd.read_csv(keywords_url)
keywords_df.keywords = keywords_df.keywords.map(make_list_from_str)
keywords_df = keywords_df.dropna()
keywords_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46419 entries, 0 to 46418
Data columns (total 2 columns):
id          46419 non-null int64
keywords    46419 non-null object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [10]:
with open('keywords.pickle', 'wb') as f:
    pickle.dump(keywords_df, f)

# links.csv、整形データ

データ数：　45624

- movieId: 行番号に対応するid
- imdbId: tt0を前につけると、movie_metadataのimdb_idに対応するid
- tmbdId: これが、movie_metadataのidに対応する

In [11]:
links_df = pd.read_csv(links_url)
links_df = links_df.dropna()
links_df[['tmdbId']] = links_df[['tmdbId']].astype('int')
links_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45624 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45624 non-null int64
imdbId     45624 non-null int64
tmdbId     45624 non-null int64
dtypes: int64(3)
memory usage: 1.4 MB

In [12]:
with open('links.pickle', 'wb') as f:
    pickle.dump(links_df, f)

# movie_metadata.csv、整形データ

今回抽出する列

- budget: 制作費（USD） int型
- genres: 映画ごとにジャンル（dict型）のリスト
- id: TMDBのidに対応しているっぽい
- original_language: 公開時の言語
- original_title: 公開時のタイトル
- release_date: 公開日
- revenue: 興行収入（USD） float型
- spoken_languages: 話されている言語(dict型)
- title: タイトル（原題ではなく、英語版のタイトル）
- vote_average: 0.0-10.0 で、レーティングの平均
- vote_count: 投票総数
- collection: どのシリーズものに属するか（シリーズものでない場合、"no collection"）

もしかしたら今後使う列
 - belong_to_collection : "name"だけ抽出して、"colleciton"として抽出
 - homepage: ホームページのURL、使うとするならgoogle analyticsで人気度調べたり？
 - overview: ストーリー（長文。自然言語処理が必要）
 - runtime: 上映時間（分）
 - popularity: イマイチなんの指標かわからないから削除（レーティングとかをもとに算出？）
 - tagline: 短い説明。かぶりもあるけど、自然言語処理が必要

In [3]:
metadata_df = pd.read_csv(metadata_url)

/Users/labuser/.pyenv/versions/anaconda3-4.4.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
metadata_df = metadata_df[["belongs_to_collection", "budget", "genres", "id", "original_language", "original_title", "release_date", "revenue", "spoken_languages", "title", "vote_average", "vote_count"]]
metadata_df.head()

,belongs_to_collection,budget,genres,id,original_language,original_title,release_date,revenue,spoken_languages,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,1995-10-30,373554033.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,1995-12-15,262797249.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,1995-12-22,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,1995-12-22,81452156.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,1995-02-10,76578911.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [15]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 12 columns):
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
id                       45466 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
spoken_languages         45460 non-null object
title                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(3), object(9)
memory usage: 4.2+ MB

In [16]:
metadata_df["collection"] = metadata_df.belongs_to_collection.map(make_collecton_from_str)
metadata_df = metadata_df.drop("belongs_to_collection", axis=1)

In [17]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 12 columns):
budget               45466 non-null object
genres               45466 non-null object
id                   45466 non-null object
original_language    45455 non-null object
original_title       45466 non-null object
release_date         45379 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45466 non-null object
dtypes: float64(3), object(9)
memory usage: 4.2+ MB

In [28]:
number = 0
for i in range(45466):
    try:
        int(metadata_df["budget"][i])
    except Exception:
        print(metadata_df["budget"][i])
        print(i)
        number += 1
print(number)

/ff9qCepilowshEtG2GYWwzt2bs4.jpg
19730
/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
29503
/zaSf5OG7V8X8gqFvly88zDdRm46.jpg
35587
3

In [40]:
metadata_df = metadata_df.drop([19730, 29503, 35587])

In [41]:
metadata_df["budget"] = metadata_df["budget"].map(int)
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 12 columns):
budget               45463 non-null int64
genres               45463 non-null object
id                   45463 non-null object
original_language    45452 non-null object
original_title       45463 non-null object
release_date         45376 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45463 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 4.5+ MB

In [44]:
metadata_df.genres = metadata_df.genres.map(make_list_from_str)
metadata_df.spoken_languages = metadata_df.spoken_languages.map(make_list_from_str)

In [48]:
metadata_df.id = metadata_df.id.map(int)
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 12 columns):
budget               45463 non-null int64
genres               45463 non-null object
id                   45463 non-null int64
original_language    45452 non-null object
original_title       45463 non-null object
release_date         45376 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45463 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.5+ MB

In [50]:
metadata_df = metadata_df.dropna()
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45365 entries, 0 to 45465
Data columns (total 12 columns):
budget               45365 non-null int64
genres               45365 non-null object
id                   45365 non-null int64
original_language    45365 non-null object
original_title       45365 non-null object
release_date         45365 non-null object
revenue              45365 non-null float64
spoken_languages     45365 non-null object
title                45365 non-null object
vote_average         45365 non-null float64
vote_count           45365 non-null float64
collection           45365 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.5+ MB

In [51]:
with open('movie_metadata.pickle', 'wb') as f:
    pickle.dump(metadata_df, f)

In [25]:
metadata_df[metadata_df.vote_average > 8][["original_title", "vote_average", "vote_count"]].head(50)

                                original_title  vote_average  vote_count
46                                       Se7en           8.1      5915.0
49                          The Usual Suspects           8.1      3334.0
109                                Taxi Driver           8.1      2632.0
186                                   Reckless          10.0         1.0
256                                  Star Wars           8.1      6778.0
289                                       Léon           8.2      4293.0
292                               Pulp Fiction           8.3      8670.0
314                   The Shawshank Redemption           8.5      8358.0
351                               Forrest Gump           8.2      8147.0
394                       Girl in the Cadillac          10.0         1.0
522                           Schindler's List           8.3      4436.0
586                   The Silence of the Lambs           8.1      4549.0
659                                 অপুর সংসার           8.2        40.0
706   The Haunted World of Edward D. Wood, Jr.          10.0         1.0
738     Carmen Miranda: Bananas Is My Business          10.0         1.0
834                              The Godfather           8.5      6024.0
877                                Rear Window           8.2      1531.0
882                              The Apartment           8.1       498.0
895                           Sunset Boulevard           8.2       533.0
930                         The Scarlet Letter           8.3         4.0
1057                            Reservoir Dogs           8.1      3821.0
1132                     Nuovo Cinema Paradiso           8.2       834.0
1138                            Paths of Glory           8.2       565.0
1151                          Paris is Burning           8.2        67.0
1152           One Flew Over the Cuckoo's Nest           8.3      3001.0
1154                   The Empire Strikes Back           8.2      5998.0
1159           Il buono, il brutto, il cattivo           8.1      2371.0
1161                              12 Angry Men           8.2      2130.0
1166                   C'era una volta il West           8.1      1160.0
1170                                GoodFellas           8.2      3211.0
1176                                    Psycho           8.3      2405.0
1178                    The Godfather: Part II           8.3      3418.0
1184               Once Upon a Time in America           8.3      1104.0
1201                        Dead Poets Society           8.1      2786.0
1213                               The Shining           8.1      3890.0
1236                        The Great Dictator           8.1       756.0
1301                       Nosferatu a Venezia           8.5         2.0
1419                                Love Jones           8.1        12.0
1571              Fast, Cheap & Out of Control           8.3         8.0
1634                  Other Voices Other Rooms          10.0         1.0
1743                 Leather Jacket Love Story           9.0         2.0
1761                     Dancer, Texas Pop. 81          10.0         1.0
1813                                  Whatever           8.3         2.0
1910                                      七人の侍           8.2       892.0
1921                                      东宫西宫           8.3         3.0
2089                               Modulations           8.5         2.0
2114                         The Farmer's Wife          10.0         1.0
2124                            One Man's Hero           9.3         2.0
2127                  Pasqualino Settebellezze           8.8        10.0
2211                           La vita è bella           8.3      3643.0

In [22]:
metadata_df.groupby("vote_average", as_index = False)["original_title"].count()

    vote_average  original_title
0            0.0            2998
1            0.5              13
2            0.7               1
3            1.0             105
4            1.1               1
5            1.2               4
6            1.3              13
7            1.4               5
8            1.5              30
9            1.6               6
10           1.7              13
11           1.8               9
12           1.9               8
13           2.0             124
14           2.1              16
15           2.2              20
16           2.3              45
17           2.4              19
18           2.5             123
19           2.6              31
20           2.7              44
21           2.8              68
22           2.9              40
23           3.0             260
24           3.1              49
25           3.2              71
26           3.3             154
27           3.4             100
28           3.5             258
29           3.6             111
..           ...             ...
62           6.9            1037
63           7.0            1886
64           7.1             879
65           7.2             807
66           7.3            1000
67           7.4             691
68           7.5             851
69           7.6             487
70           7.7             469
71           7.8             407
72           7.9             228
73           8.0             765
74           8.1             132
75           8.2             110
76           8.3             169
77           8.4              51
78           8.5             162
79           8.6              25
80           8.7              45
81           8.8              32
82           8.9               7
83           9.0             159
84           9.1               3
85           9.2               4
86           9.3              18
87           9.4               3
88           9.5              18
89           9.6               1
90           9.8               1
91          10.0             190

[92 rows x 2 columns]

In [146]:
metadata_df[["collection", "id"]].dropna().groupby("collection", as_index=False)["id"].count()

                                   collection  id
0                   ... Has Fallen Collection   2
1                      00 Schneider Filmreihe   1
2                            08/15 Collection   1
3                        100 Girls Collection   2
4        101 Dalmatians (Animated) Collection   2
5     101 Dalmatians (Live-Action) Collection   2
6                        12 Rounds Collection   3
7                             1920 Collection   2
8                     2 Days In... Collection   2
9                     2001 Maniacs Collection   1
10               20th Century Boys Collection   3
11             28 Days/Weeks Later Collection   2
12                3 Men (Original) Collection   1
13                           3 Men Collection   2
14                        3 Ninjas Collection   4
15                30 Days of Night Collection   2
16                             300 Collection   2
17                         48 Hrs. Collection   2
18                             8MM Collection   2
19                        976-EVIL Collection   2
20                        9½ Weeks Collection   2
21               A Better Tomorrow Collection   3
22           A Chinese Ghost Story Collection   3
23               A Christmas Story Collection   2
24                  A Few Best Men Collection   2
25              A Golden Christmas Collection   3
26                   A Goofy Movie Collection   2
27                 A Haunted House Collection   2
28              A Man Called Horse Collection   2
29       A Nightmare on Elm Street Collection   8
...                                       ...  ..
1665                        Zapped Collection   2
1666            Zatôichi: The Blind Swordsman  26
1667                      Zebraman Collection   1
1668                     Zeitgeist Collection   3
1669                         Zenon Collection   3
1670                    Zero Woman Collection   1
1671                  Zipi y Zape - Colección   1
1672                         Zombi Collection   1
1673                     Zoolander Collection   2
1674                         Zorro Collection   3
1675                   Zu Warriors Collection   1
1676                         [REC] Collection   4
1677                           xXx Collection   3
1678                     Åsa-Nisse Collection   1
1679                   Çalgı Çengi Collection   1
1680                   Şevkat Yerimdar Serisi   1
1681         Алиса в стране чудес (Коллекция)   1
1682                      Горько! (Коллекция)   1
1683                      ДухLess (Коллекция)   2
1684                  Зимняя Вишня (трилогия)   1
1685                Ирония судьбы (Коллекция)   2
1686      Никто не знает про секс - Коллекция   1
1687                   Облако-рай (Коллекция)   2
1688                    Параграф 78 - Дилогия   1
1689           Самый лучший фильм - Коллекция   3
1690                        Сказки Чуковского   1
1691                Чебурашка и крокодил Гена   1
1692          Что Творят мужчины! (Коллекция)   2
1693                              男はつらいよ シリーズ   3
1694                                   식객 시리즈   2

[1695 rows x 2 columns]

In [ ]:
test_list2 = eval(keywords_df.keywords[0])
print(test_list2)
print(type(test_list2[0]))

In [ ]:
code = "keywords_df.keywords[0] = "
exec(code + keywords_df.keywords[0])
for keys in list_of_keys:
    print(type(keys))
    print(keys)

In [ ]:
print(type(keywords_df.keywords[2]))

# ratings_small.csvについて

In [77]:
rating_df = pd.read_csv(ratings_url)
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [78]:
rating_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [82]:
rating_df.groupby(['userId'], as_index=False).head()

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1029     3.0  1260759179
2           1     1061     3.0  1260759182
3           1     1129     2.0  1260759185
4           1     1172     4.0  1260759205
20          2       10     4.0   835355493
21          2       17     5.0   835355681
22          2       39     5.0   835355604
23          2       47     4.0   835355552
24          2       50     4.0   835355586
96          3       60     3.0  1298861675
97          3      110     4.0  1298922049
98          3      247     3.5  1298861637
99          3      267     3.0  1298861761
100         3      296     4.5  1298862418
147         4       10     4.0   949810645
148         4       34     5.0   949919556
149         4      112     5.0   949810582
150         4      141     5.0   949919681
151         4      153     4.0   949811346
351         5        3     4.0  1163374957
352         5       39     4.0  1163374952
353         5      104     4.0  1163374639
354         5      141     4.0  1163374242
355         5      150     4.0  1163374404
451         6      111     4.0  1109258212
452         6      158     2.0  1108134263
453         6      173     2.0  1109258228
454         6      293     5.0  1108134539
455         6      596     4.0  1108134269
...       ...      ...     ...         ...
99693     666        6     5.0   838921278
99694     666       10     3.0   838920928
99695     666       19     3.0   838920996
99696     666       39     2.0   838921015
99697     666      105     3.0   838921278
99733     667        6     4.0   847271481
99734     667       11     3.0   847271401
99735     667       16     2.0   847271431
99736     667       17     2.0   847271685
99737     667       21     3.0   847271401
99801     668      296     5.0   993613478
99802     668      318     4.0   993613478
99803     668      593     5.0   993613478
99804     668      608     5.0   993613478
99805     668      720     3.0   993613415
99821     669      223     4.0  1015829358
99822     669      260     5.0  1015829081
99823     669      381     3.0  1015829160
99824     669      480     3.0  1015829160
99825     669      785     4.0  1015829525
99858     670        1     4.0   938782344
99859     670       25     5.0   938782344
99860     670       32     3.0   938782145
99861     670       34     4.0   938782193
99862     670       36     4.0   938782050
99889     671        1     5.0  1064891129
99890     671       36     4.0  1065149314
99891     671       50     4.5  1064890944
99892     671      230     4.0  1064890230
99893     671      260     5.0  1064891246

[3355 rows x 4 columns]