In [2]:
import re
import pandas as pd
import numpy as np
import pickle

credits_url = "./data/credits.csv"
keywords_url = "./data/keywords.csv"
links_url = "./data/links.csv"
links_small_url = "./data/links_small.csv"
metadata_url = "./data/movies_metadata.csv"
ratings_url = "./data/ratings_small.csv"

In [3]:
def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

In [4]:
def make_collecton_from_str(string):
    if isinstance(string, str):
        result_dict = eval(string)
        if type(result_dict) == dict:
            result = result_dict['name']
            return result
    result = "no collection"
    return result

In [5]:
def make_bool_from_str(string):
    if string == "True":
        result = True
    elif string == "False":
        result = False
    else:
        result = np.nan
    return result

# credits.csv、整形データ

データ数：　45476

- cast: キャストのデータ（dict型）のリスト
- crew: 役職者について
- id: movie_metadataのidに対応

In [67]:
credits_df = pd.read_csv(credits_url)

print(type(credits_df.cast[0]), "　　　　castについて、str型をlist型に・・・")
credits_df.cast = credits_df.cast.map(make_list_from_str)
print(type(credits_df.cast[0]), "　　　　cast完了\n")

print(type(credits_df.crew[0]), "　　　　crewについて、str型をlist型に・・・")
credits_df.crew = credits_df.crew.map(make_list_from_str)
print(type(credits_df.crew[0]), "　　　　crew完了\n")

credits_df = credits_df.dropna()
credits_df.info()

<class 'str'> 　　　　castについて、str型をlist型に・・・
<class 'list'> 　　　　cast完了

<class 'str'> 　　　　crewについて、str型をlist型に・・・
<class 'list'> 　　　　crew完了

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

### castについて、属性を取り出しcsvに書き出す

In [38]:
def index_to_id(index_list, movies_id):
    id_list = []
    for index in index_list:
        id_list.append(movies_id[index])
    return id_list

In [68]:
cast_list = credits_df["cast"].tolist()

In [13]:
cast_creditid = []
cast_gender = []
cast = []
castname_list = []

movies_dict = {}
n = 0
for i, movie in enumerate(cast_list):
    for cast in movie:
        if cast["id"] not in castid_list:
            castid_list.append(cast["id"])
            castname_list.append(cast["name"])
            movies_dict[cast["id"]] = []
            n += 1
            if n % 1000 == 0:
                print(n, "actors finished")
        movies_dict[cast["id"]].append(i)
print(len(castid_list))
print(castid_list[0])
print(castname_list[0])
#print(movies_dict[14])

1000 actors finished
2000 actors finished
3000 actors finished
4000 actors finished
5000 actors finished
6000 actors finished
7000 actors finished
8000 actors finished
9000 actors finished
10000 actors finished
11000 actors finished
12000 actors finished
13000 actors finished
14000 actors finished
15000 actors finished
16000 actors finished
17000 actors finished
18000 actors finished
19000 actors finished
20000 actors finished
21000 actors finished
22000 actors finished
23000 actors finished
24000 actors finished
25000 actors finished
26000 actors finished
27000 actors finished
28000 actors finished
29000 actors finished
30000 actors finished
31000 actors finished
32000 actors finished
33000 actors finished
34000 actors finished
35000 actors finished
36000 actors finished
37000 actors finished
38000 actors finished
39000 actors finished
40000 actors finished
41000 actors finished
42000 actors finished
43000 actors finished
44000 actors finished
45000 actors finished
46000 actors finished
47000 actors finished
48000 actors finished
49000 actors finished
50000 actors finished
51000 actors finished
52000 actors finished
53000 actors finished
54000 actors finished
55000 actors finished
56000 actors finished
57000 actors finished
58000 actors finished
59000 actors finished
60000 actors finished
61000 actors finished
62000 actors finished
63000 actors finished
64000 actors finished
65000 actors finished
66000 actors finished
67000 actors finished
68000 actors finished
69000 actors finished
70000 actors finished
71000 actors finished
72000 actors finished
73000 actors finished
74000 actors finished
75000 actors finished
76000 actors finished
77000 actors finished
78000 actors finished
79000 actors finished
80000 actors finished
81000 actors finished
82000 actors finished
83000 actors finished
84000 actors finished
85000 actors finished
86000 actors finished
87000 actors finished
88000 actors finished
89000 actors finished
90000 actors finished
91000 actors finished
92000 actors finished
93000 actors finished
94000 actors finished
95000 actors finished
96000 actors finished
97000 actors finished
98000 actors finished
99000 actors finished
100000 actors finished
101000 actors finished
102000 actors finished
103000 actors finished
104000 actors finished
105000 actors finished
106000 actors finished
107000 actors finished
108000 actors finished
109000 actors finished
110000 actors finished
111000 actors finished
112000 actors finished
113000 actors finished
114000 actors finished
115000 actors finished
116000 actors finished
117000 actors finished
118000 actors finished
119000 actors finished
120000 actors finished
121000 actors finished
122000 actors finished
123000 actors finished
124000 actors finished
125000 actors finished
126000 actors finished
127000 actors finished
128000 actors finished
129000 actors finished
130000 actors finished
131000 actors finished
132000 actors finished
133000 actors finished
134000 actors finished
135000 actors finished
136000 actors finished
137000 actors finished
138000 actors finished
139000 actors finished
140000 actors finished
141000 actors finished
142000 actors finished
143000 actors finished
144000 actors finished
145000 actors finished
146000 actors finished
147000 actors finished
148000 actors finished
149000 actors finished
150000 actors finished
151000 actors finished
152000 actors finished
153000 actors finished
154000 actors finished
155000 actors finished
156000 actors finished
157000 actors finished
158000 actors finished
159000 actors finished
160000 actors finished
161000 actors finished
162000 actors finished
163000 actors finished
164000 actors finished
165000 actors finished
166000 actors finished
167000 actors finished
168000 actors finished
169000 actors finished
170000 actors finished
171000 actors finished
172000 actors finished
173000 actors finished
174000 actors finished
175000 actors finished
176000 actors finished
177000 actors finished
178000 actors finished
179000 actors finished
180000 actors finished
181000 actors finished
182000 actors finished
183000 actors finished
184000 actors finished
185000 actors finished
186000 actors finished
187000 actors finished
188000 actors finished
189000 actors finished
190000 actors finished
191000 actors finished
192000 actors finished
193000 actors finished
194000 actors finished
195000 actors finished
196000 actors finished
197000 actors finished
198000 actors finished
199000 actors finished
200000 actors finished
201000 actors finished
202000 actors finished
203000 actors finished
204000 actors finished
205000 actors finished
206000 actors finished
206158
31
Tom Hanks

In [26]:
cast_castid = []
cast_character = []
cast_creditid = []
cast_gender = []
cast_id = []
cast_name = []
cast_order = []
cast_profilepath = []

#movies_dict = {}
n = 0
for movie in cast_list:
    for cast in movie:
        if cast["id"] not in cast_id:
            cast_castid.append(cast["cast_id"])
            cast_character.append(cast["character"])
            cast_creditid.append(cast["credit_id"])
            cast_gender.append(cast["gender"])
            cast_id.append(cast["id"])
            cast_name.append(cast["name"])
            cast_order.append(cast["order"])
            cast_profilepath.append(cast["profile_path"])
    n += 1
    if n % 1000 == 0:
        print(n, "movies finished out of ", len(cast_list))
print(len(cast_id))
print(cast_id[0])
print(cast_name[0])
#print(movies_dict[14])

1000 movies finished out of  45476
2000 movies finished out of  45476
3000 movies finished out of  45476
4000 movies finished out of  45476
5000 movies finished out of  45476
6000 movies finished out of  45476
7000 movies finished out of  45476
8000 movies finished out of  45476
9000 movies finished out of  45476
10000 movies finished out of  45476
11000 movies finished out of  45476
12000 movies finished out of  45476
13000 movies finished out of  45476
14000 movies finished out of  45476
15000 movies finished out of  45476
16000 movies finished out of  45476
17000 movies finished out of  45476
18000 movies finished out of  45476
19000 movies finished out of  45476
20000 movies finished out of  45476
21000 movies finished out of  45476
22000 movies finished out of  45476
23000 movies finished out of  45476
24000 movies finished out of  45476
25000 movies finished out of  45476
26000 movies finished out of  45476
27000 movies finished out of  45476
28000 movies finished out of  45476
29000 movies finished out of  45476
30000 movies finished out of  45476
31000 movies finished out of  45476
32000 movies finished out of  45476
33000 movies finished out of  45476
34000 movies finished out of  45476
35000 movies finished out of  45476
36000 movies finished out of  45476
37000 movies finished out of  45476
38000 movies finished out of  45476
39000 movies finished out of  45476
40000 movies finished out of  45476
41000 movies finished out of  45476
42000 movies finished out of  45476
43000 movies finished out of  45476
44000 movies finished out of  45476
45000 movies finished out of  45476
206158
31
Tom Hanks

In [37]:
cast_dict = {"cast_id": cast_castid, "character": cast_character, "credit_id": cast_creditid, "gender": cast_gender, "id": cast_id, "name": cast_name, "order": cast_order, "profile_path": cast_profilepath}
cast_df = pd.DataFrame.from_dict(cast_dict)
cast_df["movies"] = list(movies_dict.values())
cast_df.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,movies
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,"[0, 147, 351, 503, 534, 574, 1013, 1919, 1963,..."
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,"[0, 313, 1416, 1623, 2997, 3058, 4644, 4861, 5..."
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,"[0, 15, 1772, 2086, 2555, 2997, 3713, 3798, 38..."
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,"[0, 414, 1654, 2997, 3978, 4238, 4374, 5448, 5..."
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,"[0, 38, 154, 235, 329, 364, 622, 816, 1155, 11..."

In [58]:
credits_df["id"].head()

0      862
1     8844
2    15602
3    31357
4    11862
Name: id, dtype: int64

In [42]:
movie_list00 = movies_dict.values()
movie_id_list = []
n = 0
for movie_list in movie_list00:
    new_movielist = index_to_id(movie_list, credits_df["id"].tolist())
    movie_id_list.append(new_movielist)
    n += 1
    if n % 10000 == 0:
        print(n, " loops out of", len(movie_list00))
print(len(movie_id_list))
print(movie_id_list[0:3])

10000  loops out of 206158
20000  loops out of 206158
30000  loops out of 206158
40000  loops out of 206158
50000  loops out of 206158
60000  loops out of 206158
70000  loops out of 206158
80000  loops out of 206158
90000  loops out of 206158
100000  loops out of 206158
110000  loops out of 206158
120000  loops out of 206158
130000  loops out of 206158
140000  loops out of 206158
150000  loops out of 206158
160000  loops out of 206158
170000  loops out of 206158
180000  loops out of 206158
190000  loops out of 206158
200000  loops out of 206158
206158
[[862, 568, 13, 9800, 858, 32562, 9591, 857, 11974, 2619, 10466, 29968, 9489, 2280, 56235, 863, 9586, 497, 11287, 19259, 12309, 40820, 8358, 6951, 65262, 2565, 4147, 640, 20763, 10023, 5516, 594, 10905, 5255, 30983, 591, 920, 13508, 35, 6538, 16279, 13448, 5707, 10193, 15302, 59861, 64685, 208988, 208988, 83542, 32694, 109424, 213121, 140823, 170039, 77887, 82424, 37641, 130925, 256835, 253639, 339988, 296098, 356325, 357125, 270010, 87061, 363676, 207932, 140465, 305642, 331214], [862, 11395, 9446, 10371, 863, 926, 2185, 12312, 33152, 9021, 13673, 10067, 920, 14113, 13767, 11199, 12400, 10193, 35458, 15302, 72334, 41156, 213121, 77887, 82424, 130925, 256835, 29919, 190967], [862, 524, 18937, 14577, 18784, 863, 11589, 39113, 53617, 26483, 32569, 27381, 15258, 81700, 26765, 10193, 41397, 324173, 85984, 213121, 121636, 77887, 82424, 215538, 130925, 256835, 27376, 42693, 334461]]

In [47]:
cast_df["movies"] = movie_id_list
cast_df["appearance"] = cast_df.movies.map(len)
cast_df.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,movies,appearance
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,"[862, 568, 13, 9800, 858, 32562, 9591, 857, 11...",72
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,"[862, 11395, 9446, 10371, 863, 926, 2185, 1231...",29
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,"[862, 524, 18937, 14577, 18784, 863, 11589, 39...",29
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,"[862, 11041, 32302, 863, 18935, 10865, 26386, ...",20
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,"[862, 9603, 1775, 15789, 32636, 23333, 19042, ...",75

In [48]:
cast_df.to_csv("actors.csv")

### directorをまとめて、属性を取り出しcsvに書き出す

In [56]:
crew_list = credits_df["crew"].tolist()
crew_list[0][0]
crew_creditid = []
crew_gender = []
crew_id = []
crew_name = []
crew_profilepath = []

crew_movies_dict = {}
n = 0

for i, movie in enumerate(crew_list):
    for crew in movie:
        if crew["job"] == "Director":
            if crew["id"] not in crew_id:
                crew_creditid.append(crew["credit_id"])
                crew_gender.append(crew["gender"])
                crew_id.append(crew["id"])
                crew_name.append(crew["name"])
                crew_profilepath.append(crew["profile_path"])
                crew_movies_dict[crew["id"]] = []
            crew_movies_dict[crew["id"]].append(i)
    n += 1
    if n % 1000 == 0:
        print(n, "movies finished out of ", len(crew_list))
print(len(crew_id))
print(crew_id[0])
print(crew_name[0])

1000 movies finished out of  45476
2000 movies finished out of  45476
3000 movies finished out of  45476
4000 movies finished out of  45476
5000 movies finished out of  45476
6000 movies finished out of  45476
7000 movies finished out of  45476
8000 movies finished out of  45476
9000 movies finished out of  45476
10000 movies finished out of  45476
11000 movies finished out of  45476
12000 movies finished out of  45476
13000 movies finished out of  45476
14000 movies finished out of  45476
15000 movies finished out of  45476
16000 movies finished out of  45476
17000 movies finished out of  45476
18000 movies finished out of  45476
19000 movies finished out of  45476
20000 movies finished out of  45476
21000 movies finished out of  45476
22000 movies finished out of  45476
23000 movies finished out of  45476
24000 movies finished out of  45476
25000 movies finished out of  45476
26000 movies finished out of  45476
27000 movies finished out of  45476
28000 movies finished out of  45476
29000 movies finished out of  45476
30000 movies finished out of  45476
31000 movies finished out of  45476
32000 movies finished out of  45476
33000 movies finished out of  45476
34000 movies finished out of  45476
35000 movies finished out of  45476
36000 movies finished out of  45476
37000 movies finished out of  45476
38000 movies finished out of  45476
39000 movies finished out of  45476
40000 movies finished out of  45476
41000 movies finished out of  45476
42000 movies finished out of  45476
43000 movies finished out of  45476
44000 movies finished out of  45476
45000 movies finished out of  45476
19895
7879
John Lasseter

In [63]:
crew_dict = {"credit_id": crew_creditid, "gender": crew_gender, "id": crew_id, "name": crew_name, "profile_path": crew_profilepath}
crew_df = pd.DataFrame.from_dict(crew_dict)
crew_df["movies"] = list(crew_movies_dict.values())
crew_df["movies"].head()

0    [0, 2242, 2997, 10659, 10979, 17361, 19111, 19...
1    [1, 552, 1945, 1985, 2388, 4509, 7171, 14823, ...
2    [2, 455, 1245, 1730, 2036, 3737, 4381, 6692, 7...
3                               [3, 1779, 8142, 17596]
4               [4, 355, 3954, 4829, 6793, 8221, 8851]
Name: movies, dtype: object

In [64]:
crew_movie_list00 = crew_movies_dict.values()
crew_movie_id_list = []
n = 0
for crew_movie_list in crew_movie_list00:
    new_movielist = index_to_id(crew_movie_list, credits_df["id"].tolist())
    crew_movie_id_list.append(new_movielist)
    n += 1
    if n % 10000 == 0:
        print(n, " loops out of", len(crew_movie_list00))
print(len(crew_movie_id_list))
print(crew_movie_id_list[0:3])

10000  loops out of 19895
19895
[[862, 9487, 863, 13925, 920, 49013, 13927, 13926, 13928, 13934], [8844, 15139, 9354, 10249, 13466, 331, 2023, 7978, 1771, 256347], [15602, 41579, 15143, 27472, 11522, 10393, 2617, 25269, 2122, 13596, 218931]]

In [65]:
crew_df["movies"] = crew_movie_id_list
crew_df["appearance"] = crew_df.movies.map(len)
crew_df.head()

,credit_id,gender,id,name,profile_path,movies,appearance
0,52fe4284c3a36847f8024f49,2,7879,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,"[862, 9487, 863, 13925, 920, 49013, 13927, 139...",10
1,52fe44bfc3a36847f80a7c7d,2,4945,Joe Johnston,/fok4jaO62v5IP6hkpaaAcXuw2H.jpg,"[8844, 15139, 9354, 10249, 13466, 331, 2023, 7...",10
2,52fe466a9251416c75077a89,2,26502,Howard Deutch,/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg,"[15602, 41579, 15143, 27472, 11522, 10393, 261...",11
3,52fe44779251416c91011acb,2,2178,Forest Whitaker,/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg,"[31357, 9715, 13969, 26479]",4
4,52fe44959251416c75039eef,2,56106,Charles Shyer,/hnWGd74CbmTcDCFQiJ8SYLazIXW.jpg,"[11862, 10879, 11215, 19076, 11846, 8849, 47874]",7

In [66]:
crew_df.to_csv("directors.csv")

In [87]:
sampledataframe3 = sampledataframe2.ix[:,['name','id','appearance']]

In [92]:
sampledataframe3.to_csv("directors.csv")
sampledataframe4.to_csv("jobs.csv")

In [54]:
job_list = list(crewjob_dict.keys())

In [55]:
job_count = list(crewjob_dict.values())

In [56]:
job_dict_sample = {"job": job_list, "count":job_count}

In [90]:
sampledataframe = pd.DataFrame.from_dict(job_dict_sample)
sampledataframe.head()
sampledataframe4 = sampledataframe.ix[:,['job','count']]

/Users/labuser/.pyenv/versions/anaconda3-4.4.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  This is separate from the ipykernel package so we can avoid doing imports until

In [91]:
sampledataframe4

                                           job  count
0                                     Director  49048
1                                   Screenplay  25163
2                                     Producer  43555
3                           Executive Producer  18866
4                                       Editor  23800
5                                Art Direction  11689
6                                 Foley Editor    303
7                                    Animation   3834
8                                   ADR Editor    222
9                                 Orchestrator    725
10                                 Color Timer    446
11                                  CG Painter     34
12                              Original Story    505
13                  Post Production Supervisor    762
14                                    Sculptor    376
15                          Animation Director    360
16                                       Music   7340
17                                      Layout    530
18                                Music Editor   2269
19                             Negative Cutter    103
20                              Title Designer    202
21              Supervising Technical Director     22
22                                       Songs    192
23                        Supervising Animator    147
24                              Sound Designer   2363
25                       Production Supervisor    850
26                    Executive Music Producer     60
27                   Visual Effects Supervisor   2951
28                              Visual Effects   1019
29                         Lighting Supervisor     65
..                                         ...    ...
426                                  treatment      8
427                  Graphic Novel Illustrator     19
428                               Motion Actor      9
429                  Battle Motion Coordinator      1
430                    Sets & Props Supervisor      4
431                                Cloth Setup      1
432                        Facial Setup Artist      3
433                            Sequence Artist      1
434                                CG Engineer      1
435                              Prop Designer      2
436                                Shoe Design      4
437  Simulation & Effects Production Assistant      4
438                                 Video Game      1
439                   Opening/Ending Animation      1
440                        Epk Camera Operator     10
441                          Script Consultant     11
442                      Coordinating Producer      2
443                       Lighting Coordinator      8
444                                 Dramaturgy      2
445                        Prosthetic Designer     10
446                             Drone Operator     26
447                              3D Generalist     14
448                       Russian Arm Operator     10
449                      Ultimate Arm Operator      3
450                                3D Director      1
451                                Dramaturgie      1
452                                      Actor      9
453                         Costume Consultant      1
454             Character Modelling Supervisor      1
455                   Stereoscopic Coordinator      2

[456 rows x 2 columns]

In [7]:
with open('credits.pickle', 'wb') as f:
    pickle.dump(credits_df, f)

# keywords.csv、整形データ

データ数：　46419

- id: movie_metadataのidに対応
- keywords: 映画を説明するキーワードのリスト

In [8]:
keywords_df = pd.read_csv(keywords_url)
keywords_df.keywords = keywords_df.keywords.map(make_list_from_str)
keywords_df = keywords_df.dropna()
keywords_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46419 entries, 0 to 46418
Data columns (total 2 columns):
id          46419 non-null int64
keywords    46419 non-null object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [10]:
with open('keywords.pickle', 'wb') as f:
    pickle.dump(keywords_df, f)

# links.csv、整形データ

データ数：　45624

- movieId: 行番号に対応するid
- imdbId: tt0を前につけると、movie_metadataのimdb_idに対応するid
- tmbdId: これが、movie_metadataのidに対応する

In [11]:
links_df = pd.read_csv(links_url)
links_df = links_df.dropna()
links_df[['tmdbId']] = links_df[['tmdbId']].astype('int')
links_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45624 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45624 non-null int64
imdbId     45624 non-null int64
tmdbId     45624 non-null int64
dtypes: int64(3)
memory usage: 1.4 MB

In [12]:
with open('links.pickle', 'wb') as f:
    pickle.dump(links_df, f)

# movie_metadata.csv、整形データ

今回抽出する列

- budget: 制作費（USD） int型
- genres: 映画ごとにジャンル（dict型）のリスト
- id: TMDBのidに対応しているっぽい
- original_language: 公開時の言語
- original_title: 公開時のタイトル
- release_date: 公開日
- revenue: 興行収入（USD） float型
- spoken_languages: 話されている言語(dict型)
- title: タイトル（原題ではなく、英語版のタイトル）
- vote_average: 0.0-10.0 で、レーティングの平均
- vote_count: 投票総数
- collection: どのシリーズものに属するか（シリーズものでない場合、"no collection"）

もしかしたら今後使う列
 - belong_to_collection : "name"だけ抽出して、"colleciton"として抽出
 - homepage: ホームページのURL、使うとするならgoogle analyticsで人気度調べたり？
 - overview: ストーリー（長文。自然言語処理が必要）
 - runtime: 上映時間（分）
 - popularity: イマイチなんの指標かわからないから削除（レーティングとかをもとに算出？）
 - tagline: 短い説明。かぶりもあるけど、自然言語処理が必要

In [3]:
metadata_df = pd.read_csv(metadata_url)

/Users/labuser/.pyenv/versions/anaconda3-4.4.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
metadata_df = metadata_df[["belongs_to_collection", "budget", "genres", "id", "original_language", "original_title", "release_date", "revenue", "spoken_languages", "title", "vote_average", "vote_count"]]
metadata_df.head()

,belongs_to_collection,budget,genres,id,original_language,original_title,release_date,revenue,spoken_languages,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,1995-10-30,373554033.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,1995-12-15,262797249.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,1995-12-22,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,1995-12-22,81452156.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,1995-02-10,76578911.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [15]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 12 columns):
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
id                       45466 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
spoken_languages         45460 non-null object
title                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(3), object(9)
memory usage: 4.2+ MB

In [16]:
metadata_df["collection"] = metadata_df.belongs_to_collection.map(make_collecton_from_str)
metadata_df = metadata_df.drop("belongs_to_collection", axis=1)

In [17]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 12 columns):
budget               45466 non-null object
genres               45466 non-null object
id                   45466 non-null object
original_language    45455 non-null object
original_title       45466 non-null object
release_date         45379 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45466 non-null object
dtypes: float64(3), object(9)
memory usage: 4.2+ MB

In [28]:
number = 0
for i in range(45466):
    try:
        int(metadata_df["budget"][i])
    except Exception:
        print(metadata_df["budget"][i])
        print(i)
        number += 1
print(number)

/ff9qCepilowshEtG2GYWwzt2bs4.jpg
19730
/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
29503
/zaSf5OG7V8X8gqFvly88zDdRm46.jpg
35587
3

In [40]:
metadata_df = metadata_df.drop([19730, 29503, 35587])

In [41]:
metadata_df["budget"] = metadata_df["budget"].map(int)
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 12 columns):
budget               45463 non-null int64
genres               45463 non-null object
id                   45463 non-null object
original_language    45452 non-null object
original_title       45463 non-null object
release_date         45376 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45463 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 4.5+ MB

In [44]:
metadata_df.genres = metadata_df.genres.map(make_list_from_str)
metadata_df.spoken_languages = metadata_df.spoken_languages.map(make_list_from_str)

In [48]:
metadata_df.id = metadata_df.id.map(int)
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 12 columns):
budget               45463 non-null int64
genres               45463 non-null object
id                   45463 non-null int64
original_language    45452 non-null object
original_title       45463 non-null object
release_date         45376 non-null object
revenue              45460 non-null float64
spoken_languages     45460 non-null object
title                45460 non-null object
vote_average         45460 non-null float64
vote_count           45460 non-null float64
collection           45463 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.5+ MB

In [50]:
metadata_df = metadata_df.dropna()
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45365 entries, 0 to 45465
Data columns (total 12 columns):
budget               45365 non-null int64
genres               45365 non-null object
id                   45365 non-null int64
original_language    45365 non-null object
original_title       45365 non-null object
release_date         45365 non-null object
revenue              45365 non-null float64
spoken_languages     45365 non-null object
title                45365 non-null object
vote_average         45365 non-null float64
vote_count           45365 non-null float64
collection           45365 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 4.5+ MB

In [51]:
with open('movie_metadata.pickle', 'wb') as f:
    pickle.dump(metadata_df, f)

In [25]:
metadata_df[metadata_df.vote_average > 8][["original_title", "vote_average", "vote_count"]].head(50)

                                original_title  vote_average  vote_count
46                                       Se7en           8.1      5915.0
49                          The Usual Suspects           8.1      3334.0
109                                Taxi Driver           8.1      2632.0
186                                   Reckless          10.0         1.0
256                                  Star Wars           8.1      6778.0
289                                       Léon           8.2      4293.0
292                               Pulp Fiction           8.3      8670.0
314                   The Shawshank Redemption           8.5      8358.0
351                               Forrest Gump           8.2      8147.0
394                       Girl in the Cadillac          10.0         1.0
522                           Schindler's List           8.3      4436.0
586                   The Silence of the Lambs           8.1      4549.0
659                                 অপুর সংসার           8.2        40.0
706   The Haunted World of Edward D. Wood, Jr.          10.0         1.0
738     Carmen Miranda: Bananas Is My Business          10.0         1.0
834                              The Godfather           8.5      6024.0
877                                Rear Window           8.2      1531.0
882                              The Apartment           8.1       498.0
895                           Sunset Boulevard           8.2       533.0
930                         The Scarlet Letter           8.3         4.0
1057                            Reservoir Dogs           8.1      3821.0
1132                     Nuovo Cinema Paradiso           8.2       834.0
1138                            Paths of Glory           8.2       565.0
1151                          Paris is Burning           8.2        67.0
1152           One Flew Over the Cuckoo's Nest           8.3      3001.0
1154                   The Empire Strikes Back           8.2      5998.0
1159           Il buono, il brutto, il cattivo           8.1      2371.0
1161                              12 Angry Men           8.2      2130.0
1166                   C'era una volta il West           8.1      1160.0
1170                                GoodFellas           8.2      3211.0
1176                                    Psycho           8.3      2405.0
1178                    The Godfather: Part II           8.3      3418.0
1184               Once Upon a Time in America           8.3      1104.0
1201                        Dead Poets Society           8.1      2786.0
1213                               The Shining           8.1      3890.0
1236                        The Great Dictator           8.1       756.0
1301                       Nosferatu a Venezia           8.5         2.0
1419                                Love Jones           8.1        12.0
1571              Fast, Cheap & Out of Control           8.3         8.0
1634                  Other Voices Other Rooms          10.0         1.0
1743                 Leather Jacket Love Story           9.0         2.0
1761                     Dancer, Texas Pop. 81          10.0         1.0
1813                                  Whatever           8.3         2.0
1910                                      七人の侍           8.2       892.0
1921                                      东宫西宫           8.3         3.0
2089                               Modulations           8.5         2.0
2114                         The Farmer's Wife          10.0         1.0
2124                            One Man's Hero           9.3         2.0
2127                  Pasqualino Settebellezze           8.8        10.0
2211                           La vita è bella           8.3      3643.0

In [22]:
metadata_df.groupby("vote_average", as_index = False)["original_title"].count()

    vote_average  original_title
0            0.0            2998
1            0.5              13
2            0.7               1
3            1.0             105
4            1.1               1
5            1.2               4
6            1.3              13
7            1.4               5
8            1.5              30
9            1.6               6
10           1.7              13
11           1.8               9
12           1.9               8
13           2.0             124
14           2.1              16
15           2.2              20
16           2.3              45
17           2.4              19
18           2.5             123
19           2.6              31
20           2.7              44
21           2.8              68
22           2.9              40
23           3.0             260
24           3.1              49
25           3.2              71
26           3.3             154
27           3.4             100
28           3.5             258
29           3.6             111
..           ...             ...
62           6.9            1037
63           7.0            1886
64           7.1             879
65           7.2             807
66           7.3            1000
67           7.4             691
68           7.5             851
69           7.6             487
70           7.7             469
71           7.8             407
72           7.9             228
73           8.0             765
74           8.1             132
75           8.2             110
76           8.3             169
77           8.4              51
78           8.5             162
79           8.6              25
80           8.7              45
81           8.8              32
82           8.9               7
83           9.0             159
84           9.1               3
85           9.2               4
86           9.3              18
87           9.4               3
88           9.5              18
89           9.6               1
90           9.8               1
91          10.0             190

[92 rows x 2 columns]

In [146]:
metadata_df[["collection", "id"]].dropna().groupby("collection", as_index=False)["id"].count()

                                   collection  id
0                   ... Has Fallen Collection   2
1                      00 Schneider Filmreihe   1
2                            08/15 Collection   1
3                        100 Girls Collection   2
4        101 Dalmatians (Animated) Collection   2
5     101 Dalmatians (Live-Action) Collection   2
6                        12 Rounds Collection   3
7                             1920 Collection   2
8                     2 Days In... Collection   2
9                     2001 Maniacs Collection   1
10               20th Century Boys Collection   3
11             28 Days/Weeks Later Collection   2
12                3 Men (Original) Collection   1
13                           3 Men Collection   2
14                        3 Ninjas Collection   4
15                30 Days of Night Collection   2
16                             300 Collection   2
17                         48 Hrs. Collection   2
18                             8MM Collection   2
19                        976-EVIL Collection   2
20                        9½ Weeks Collection   2
21               A Better Tomorrow Collection   3
22           A Chinese Ghost Story Collection   3
23               A Christmas Story Collection   2
24                  A Few Best Men Collection   2
25              A Golden Christmas Collection   3
26                   A Goofy Movie Collection   2
27                 A Haunted House Collection   2
28              A Man Called Horse Collection   2
29       A Nightmare on Elm Street Collection   8
...                                       ...  ..
1665                        Zapped Collection   2
1666            Zatôichi: The Blind Swordsman  26
1667                      Zebraman Collection   1
1668                     Zeitgeist Collection   3
1669                         Zenon Collection   3
1670                    Zero Woman Collection   1
1671                  Zipi y Zape - Colección   1
1672                         Zombi Collection   1
1673                     Zoolander Collection   2
1674                         Zorro Collection   3
1675                   Zu Warriors Collection   1
1676                         [REC] Collection   4
1677                           xXx Collection   3
1678                     Åsa-Nisse Collection   1
1679                   Çalgı Çengi Collection   1
1680                   Şevkat Yerimdar Serisi   1
1681         Алиса в стране чудес (Коллекция)   1
1682                      Горько! (Коллекция)   1
1683                      ДухLess (Коллекция)   2
1684                  Зимняя Вишня (трилогия)   1
1685                Ирония судьбы (Коллекция)   2
1686      Никто не знает про секс - Коллекция   1
1687                   Облако-рай (Коллекция)   2
1688                    Параграф 78 - Дилогия   1
1689           Самый лучший фильм - Коллекция   3
1690                        Сказки Чуковского   1
1691                Чебурашка и крокодил Гена   1
1692          Что Творят мужчины! (Коллекция)   2
1693                              男はつらいよ シリーズ   3
1694                                   식객 시리즈   2

[1695 rows x 2 columns]

In [ ]:
test_list2 = eval(keywords_df.keywords[0])
print(test_list2)
print(type(test_list2[0]))

In [ ]:
code = "keywords_df.keywords[0] = "
exec(code + keywords_df.keywords[0])
for keys in list_of_keys:
    print(type(keys))
    print(keys)

In [ ]:
print(type(keywords_df.keywords[2]))

# ratings_small.csvについて

In [77]:
rating_df = pd.read_csv(ratings_url)
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [78]:
rating_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [82]:
rating_df.groupby(['userId'], as_index=False).head()

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1029     3.0  1260759179
2           1     1061     3.0  1260759182
3           1     1129     2.0  1260759185
4           1     1172     4.0  1260759205
20          2       10     4.0   835355493
21          2       17     5.0   835355681
22          2       39     5.0   835355604
23          2       47     4.0   835355552
24          2       50     4.0   835355586
96          3       60     3.0  1298861675
97          3      110     4.0  1298922049
98          3      247     3.5  1298861637
99          3      267     3.0  1298861761
100         3      296     4.5  1298862418
147         4       10     4.0   949810645
148         4       34     5.0   949919556
149         4      112     5.0   949810582
150         4      141     5.0   949919681
151         4      153     4.0   949811346
351         5        3     4.0  1163374957
352         5       39     4.0  1163374952
353         5      104     4.0  1163374639
354         5      141     4.0  1163374242
355         5      150     4.0  1163374404
451         6      111     4.0  1109258212
452         6      158     2.0  1108134263
453         6      173     2.0  1109258228
454         6      293     5.0  1108134539
455         6      596     4.0  1108134269
...       ...      ...     ...         ...
99693     666        6     5.0   838921278
99694     666       10     3.0   838920928
99695     666       19     3.0   838920996
99696     666       39     2.0   838921015
99697     666      105     3.0   838921278
99733     667        6     4.0   847271481
99734     667       11     3.0   847271401
99735     667       16     2.0   847271431
99736     667       17     2.0   847271685
99737     667       21     3.0   847271401
99801     668      296     5.0   993613478
99802     668      318     4.0   993613478
99803     668      593     5.0   993613478
99804     668      608     5.0   993613478
99805     668      720     3.0   993613415
99821     669      223     4.0  1015829358
99822     669      260     5.0  1015829081
99823     669      381     3.0  1015829160
99824     669      480     3.0  1015829160
99825     669      785     4.0  1015829525
99858     670        1     4.0   938782344
99859     670       25     5.0   938782344
99860     670       32     3.0   938782145
99861     670       34     4.0   938782193
99862     670       36     4.0   938782050
99889     671        1     5.0  1064891129
99890     671       36     4.0  1065149314
99891     671       50     4.5  1064890944
99892     671      230     4.0  1064890230
99893     671      260     5.0  1064891246

[3355 rows x 4 columns]